@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.overlay {
  display: flex;
  font-family: 'Torus';
  width: 1920px;
  height: 102px;
  color: white;
  display: flex;
  /* border: 1pt solid white; */
}

.box-1 {
  /* border: 1pt solid rgb(0, 248, 54); */
  display: flex;
  width: 940px;
  height: 102px;
  background-image: url("card@2x.jpg");
  background-size: cover;
  background-position: 75%;
  box-shadow: inset 0 0 0 944px rgba(0, 0, 0, 0.7);

  .inner-box {
    /* border: 1pt solid rgb(255, 166, 0); */
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 22px;
    margin-right: 22px;

    .row-1 {
      /* border: 1pt solid rgb(255, 0, 0); */
      height: 24px;

      .title {
        font-size: 22pt;
        font-weight: 700;
      }
    }

    .row-2 {
      margin-top: 13px;
      display: flex;
      font-size: 12pt;

      div {
        margin-right: 10px;
      }

      .mapper-name {
        /* Change this until visually okay */
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }

}

.box-2,
.box-3,
.box-4 {
  /* border: 1pt solid rgb(0, 248, 54); */
  display: flex;
  width: 350px;
  height: 102px;
  background-color: #1a001aff;

  .inner-box {
    /* border: 1pt solid white; */
    margin-top: 26px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
    width: 100%;

    .row-1 {
      /* border: 1pt solid white; */
      display: flex;
      font-size: 16px;

      div {
        margin-right: 5px;
      }

      .text {
        font-weight: 500;
      }

      .value {
        font-weight: 800;
      }
    }

    .row-2 {
      /* border: 1pt solid white; */
      display: flex;
      margin-top: 13px;

      div {
        margin-right: 5px;
      }

      .text {
        font-weight: 500;
      }

      .value {
        font-weight: 800;
      }
    }

  }
}

.box-3 {
  width: 200px;
}

.box-4 {
  width: 330px;

  .inner-box {

    .row-1 {
      display: flex;

      div {
        margin-right: 10px;
      }
    }

    .row-2 {
      display: flex;

      div {
        margin-right: 10px;
      }
    }

    .active {
      color: yellow;
    }

  }
}

.box-5 {
  width: 100px;
  background-color: #1a001aff;
  /* border: 1pt solid white; */

  .logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* border: 1pt solid white; */
  }
}

/* .box-1 {
  display: flex;
  flex-direction: column;
  width: 944px;
  height: 102px;
  border: 1pt solid white;
  background-image: url("card@2x.jpg");
  background-size: cover;
  background-position: 75%;
  box-shadow: inset 0 0 0 944px rgba(0, 0, 0, 0.7);
}

.left-row-1 {
  border: 1pt solid white;
  margin-top: 25px;
  margin-left: 22px;
}

.left-row-2 {
  border: 1pt solid white;
  margin-left: 22px;
  height: 13px;
  margin-top: 5px;
}


.box-2 {
  width: 779px;
  height: 102px;
  float: left;
  background-color: #1a001aff
}

.left-details {
  border: 1pt solid white;
  margin-top: 25px;
  margin-left: 22px;
}

.right-details {
  margin-top: 34px;
  margin-left: 26px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.mapper,
.difficulty {
  float: left;
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.mapper-name,
.difficulty-name {
  float: left;
  margin-left: 6px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.od,
.hp {
  float: left;
  font-size: 16;
  font-weight: 300;
  color: white;
}

.od-value,
.hp-value {
  float: left;
  font-size: 16;
  font-weight: 600;
  margin-left: 5px;
}

.difficulty {
  margin-left: 52px;
}

.star-rating {
  font-weight: 300;
  margin-top: 34px;
}

.row-2 {
  clear: both;
} */
